<html>
    <title>Texty</title>
    <head>
                <link rel="stylesheet" href='/static/main.css' />
    </head>
    <body>

        <div class="drag-area">
          <h1>Welcome to Texty</h1><br>
          <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
          <header>Drag & Drop to Upload File</header>
          <span>OR</span>
          <button>Browse File</button>
          <input type="file" hidden>
        </div>
        <script src="/static/js/script.js"></script>
    </body>
</html>